.Pokecard {
  background-color: lightgray;
  border-radius: 10px;
  display: inline-block;
  margin: 10px;
  padding: 5px;
  width: 150px;
  text-align: center;
}

.Pokecard-name {
  color: blue;
  font-weight: bold;
}

.Pokecard-details {
  margin-top: 5px;
  font-size: 80%;
}